<div class="center-content">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Login</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="formLogin">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Email*</mat-label>
						<input formControlName="email" matInput />
						<mat-error *ngIf="formLogin.invalid"
							>Email required</mat-error
						>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline">
						<mat-label>Password*</mat-label>
						<input
							[type]="hide ? 'password' : 'text'"
							formControlName="password"
							matInput
							required
						/>
						<!-- placeholder="Password" -->
						<input
							matInput
							[type]="hide ? 'password' : 'text'"
							formControlName="password"
							required
						/>

						<mat-icon matSuffix (click)="hide = !hide">{{
							hide ? "visibility_off" : "visibility"
						}}</mat-icon>

						<mat-error *ngIf="formLogin.invalid"
							>Password required</mat-error
						>
					</mat-form-field>
				</p>

				<div>
					<!--routerLink="/home" -->
					<button mat-flat-button color="primary" (click)="login()">
						<!--[disabled]="form.invalid"-->
						Login
					</button>
				</div>

				<p class="center">
					<a routerLink="/password-forgot">¿Forgot you password?</a>
				</p>

				<p class="center">
					¿You do not have an account?
					<a routerLink="/register">
						<span class="login-text">Register</span></a
					>
				</p>
			</form>
		</mat-card-content>
		<!-- <mat-card-footer> Footer </mat-card-footer> -->
	</mat-card>
</div>
