<div class="center-content">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Password change</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="formPasswordChange">
				<p>
					<mat-form-field appearance="outline">
						<mat-label>Password*</mat-label>
						<input
							[type]="hide ? 'password' : 'text'"
							formControlName="password"
							matInput
							required
						/>

						<input
							matInput
							[type]="hide ? 'password' : 'text'"
							formControlName="password"
							required
						/>

						<mat-icon matSuffix (click)="hide = !hide">{{
							hide ? "visibility_off" : "visibility"
						}}</mat-icon>

						<mat-error *ngIf="formPasswordChange.invalid"
							>Password required</mat-error
						>
					</mat-form-field>
				</p>

				<p>
					<mat-form-field appearance="outline">
						<mat-label>Confirm Password*</mat-label>
						<input
							[type]="hide ? 'password' : 'text'"
							formControlName="password"
							matInput
							required
						/>

						<input
							matInput
							[type]="hide ? 'password' : 'text'"
							formControlName="password"
							required
						/>

						<mat-icon matSuffix (click)="hide = !hide">{{
							hide ? "visibility_off" : "visibility"
						}}</mat-icon>

						<mat-error *ngIf="formPasswordChange.invalid"
							>Password required</mat-error
						>
					</mat-form-field>
				</p>

				<p>
					<button
						mat-flat-button
						color="primary"
						routerLink="/login"
						(submit)="send()"
					>
						Send
					</button>
				</p>
			</form>
		</mat-card-content>
	</mat-card>
</div>
