mat-toolbar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 1000;
}

.title-logo {
	color: white !important;
	text-decoration: none;
	padding-left: 10px;
	font-size: 14px;
}

.logo-img {
	padding-top: 8px;
	width: 50px;
	cursor: pointer;
	outline: none;
}

.avatar {
	border-radius: 50%;
	height: 40px;
	margin-left: 10px;
	width: 40px;
}

.example-spacer {
	flex: 1 1 auto;
}

.active {
	color: #ffd740;
}

app-authorize {
	display: flex;
}
